body {
    margin: 0;
    background-color: #ccc;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}
section {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100vh;
    background: url(../media/img1.jpg);
    background-repeat: no-repeat;

}

* {
    box-sizing: border-box;
}

h3 {
    color:#fff;
    font-weight: 200;
    font-size: 100px;
    font-family: 'Rubik',
    sans-serif;
}

.weather-app {
    min-height: 100vh;
    position:relative;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 500ms;
    opacity: 1;
}
.city-name {
    color: #fff;
    font-family: 'Rubik',
    sans-serif;
    font-size: 70px;
    text-transform: capitalize;
}
.temp{
    color: #fff;
    font-size: 70px;
    margin: 0;
}
.city-time{
    margin-left: 100px;
}

.units{
display: inline-block;
font-size: 20px;
line-height: 10px;
margin-top: 1px;
padding-left: 1px;
vertical-align: text-top;
}

.date{
    color: white;
    font-size: 30px;
    font-family: 'Rubik',
    sans-serif;
}

.weather-app::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 0;
}

.weather-descript{
    text-transform: capitalize;
    font-family: 'Rubik',
    sans-serif;
}

.infoContainer {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column-reverse;
    padding: 50px;
}

.infoContainer>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.city-time h1 {
    font-family: 'Rubik',
    sans-serif;
    margin: 5px;
    margin-bottom: 2px;
    font-size: 60px;
}

.temperature {
    font-family: 'Rubik',
    sans-serif;
    font-size: 50px;
    text-decoration: none;
    color:#fff;

}
.units .active{
    color:rgb(255, 255, 255);
    text-decoration: none;
    
}

.units :hover {
    cursor: default;
    text-decoration: none;
    color:#fff;
}


.weather-forecast{
   margin-top: 50px;
   text-align: center;
}

.weather-forecast-date{
    font-weight: bold;
    font-size: 16px;
    color: rgb(255, 255, 255);
    
}

.weather-forecast-temperature{
    font-size: 13px;
    color:rgba(255, 255, 255, 0.89);
}

.weather-forecast-temperature-min{
    color:rgba(255, 255, 255, 0.596);
}

.col-2{
    border: 1px solid rgba(255, 255, 255, 0.61);
    border-radius: 10px;
    background-color: rgba(17, 17, 17, 0.39);
   

}


.panel {
    position: absolute;
    width: 25%;
    height: 100%;
    top: 0;
    right: 20%;
    background: rgba(0, 0, 0, 0.452);
    box-shadow: rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 20px 10px;

}

.panel form {
    margin: 0;
}


.submit {
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px;
    margin: 0;
    border: none;
    border-radius: 25% 50%;
    box-shadow: rgba(17, 17, 17, 0.212);
    background: #b6602f;
    color: #fff;
    cursor: pointer;
}

.submit:hover {
    background-color: #fff;
    color: #111;
    transition: all 150ms ease;
}


.search {
    background: none;
    border: none;
    border-bottom: 1px rgb(212, 212, 212) solid;
    font-size: 15px;
    padding: 0;
    color: #fff;
}

.search:focus {
    outline: none;
}

.search::placeholder {
    color: #ccc;
}

.panel ul {
    padding: 10px;
    margin: 10px;
    border-bottom: 1px rgb(212, 212, 212) solid;
}

.panel ul li {
    color: #fff;
    margin-top: 20px;
}


.panel ul h4 {
    font-weight: bold;
    margin: 0;
    color:#fff;
}

.city {
    display: block;
    cursor: pointer;
    padding: 1px;
}

.city:hover {
    color: #ccc;
}

#quote{
    display: block;
    margin-top: 100px;
    font-size: 20px;
    text-align: center;
    color: white;
    font-family: 'Rubik',
    sans-serif cursive;
}

em {
    font-size: 10px;
}

